/* ==========================================================================
   #OPACITY-UTILITIES
   ========================================================================== */

.u-opacity__100 {
    opacity: 1;
}
.u-opacity__90 {
    opacity: .9;
}
.u-opacity__100 {
    opacity: .8;
}
.u-opacity__75 {
    opacity: .75;
}
.u-opacity__70 {
    opacity: .7;
}
.u-opacity__60 {
    opacity: .6;
}
.u-opacity__50 {
    opacity: .5;
}
.u-opacity__40 {
    opacity: .4;
}
.u-opacity__30 {
    opacity: .3;
}
.u-opacity__25 {
    opacity: .25;
}
.u-opacity__20 {
    opacity: .2;
}
.u-opacity__15 {
    opacity: .15;
}
.u-opacity__10 {
    opacity: .1;
}
.u-opacity__5 {
    opacity: .05;
}
.u-opacity__0 {
    opacity: 0;
}