/* ==========================================================================
   #MARGIN AND PADDING - UTILITIES
   ========================================================================== */

@include constructor-padding-margin("margin", ""); // .u-marginXs{}, .u-marginXs__top {}
//@include noMarginPadding ('noMargin'); // .u-marginXs{}, .u-marginXs__top {}
@include constructor-padding-margin("padding", ""); // .u-paddingXs{}, .u-paddingXs__top {}
//@include noMarginPadding ('noPadding'); // .u-paddingXs{}, .u-paddingXs__top {}

@include constructor-padding-margin("margin", "no-margin");
@include constructor-padding-margin("padding", "no-padding");  

.margin-top-xxs {
  margin-top: calc($spacing-unit / 2);
}

.padding-xxs {
  padding: calc($spacing-unit / 2);
}

@include media-breakpoint-down(lg) {
  .no-margin-mobile {
      margin: 0 !important;
  }

  .no-margin-top-mobile {
      margin-top: 0 !important;
  }

  .no-margin-right-mobile {
      margin-right: 0 !important;
  }

  .no-margin-bottom-mobile {
      margin-bottom: 0 !important;
  }

  .no-margin-left-mobile {
      margin-left: 0 !important;
  }

  .no-margin-vertical-mobile {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
  }

  .no-margin-horizontal-mobile {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }

  .no-padding-mobile {
      padding: 0 !important;
  }

  .no-padding-top-mobile {
      padding-top: 0 !important;
  }

  .no-padding-right-mobile {
      padding-right: 0 !important;
  }

  .no-padding-bottom-mobile {
      padding-bottom: 0 !important;
  }

  .no-padding-left-mobile {
      padding-left: 0 !important;
  }

  .no-padding-vertical-mobile {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .no-padding-horizontal-mobile {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

@include-media-breakpoint-up(lg) {
  .no-margin-desktop {
      margin: 0 !important;
  }

  .no-margin-top-desktop {
      margin-top: 0 !important;
  }

  .no-margin-right-desktop {
      margin-right: 0 !important;
  }

  .no-margin-bottom-desktop {
      margin-bottom: 0 !important;
  }

  .no-margin-left-desktop {
      margin-left: 0 !important;
  }

  .no-margin-vertical-desktop {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
  }

  .no-margin-horizontal-desktop {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }

  .no-padding-desktop {
      padding: 0 !important;
  }

  .no-padding-top-desktop {
      padding-top: 0 !important;
  }

  .no-padding-right-desktop {
      padding-right: 0 !important;
  }

  .no-padding-bottom-desktop {
      padding-bottom: 0 !important;
  }

  .no-padding-left-desktop {
      padding-left: 0 !important;
  }

  .no-padding-vertical-desktop {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .no-padding-horizontal-desktop {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

@for $i from 1 through $num-cols {
  .w#{$i} {
      width: calc(100% / $num-cols) * $i !important;
  }
}

.width-auto {
  width: auto !important;
}

.height-100 {
  height: 100% !important;
}

.height-0 {
  height: 0 !important;
}

.height-auto {
  height: auto !important;
}

.disable-min-height {
  min-height: auto !important;
}
