/* ==========================================================================
   #BREADCRUMB-COMPONENT
   ========================================================================== */

.o-breadCrumb {
    border-top: 1px solid $tabs;
    width: 100%;
    text-align: left;
    height: $spacing-2xl;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
        border:none;
        margin-top:  0.6rem;
        margin-bottom:  0.6rem;
        height: auto;
    }

    &__item {
        display: inline-block;
        color: $primary-color;
        @include media-breakpoint-down(lg) {
            display:none;
            &:last-child, &:nth-last-child(2) {
                display: inline-block;
            }
        }
        @include media-breakpoint-down(lg) {
            &:nth-last-child(2) {
                span {
                    padding-left: 0;
                }
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        span,
        &:hover span {
            font-size: 1.3rem;
        }
        &:after {
            content: "/";
            color: $color-body;
        }
    }
    span {
        padding: 0 $spacing-unit;        
    }
    &__active {
        font-size: 1.3rem;
        padding: 0 $spacing-unit;
        padding-right: 0;
        margin-bottom: 0;
        line-height: 2;
        color: $color-body;
    }
    li:first-child {
        span,
        h1 {
            padding-left: 0;
        }
    }
    &__icon {
        font-size: 20px;
    }
}