// grid-flex - variables

$num-cols: 12 !default;
$width-row-container-lg: 96.2rem;
$width-row-container-xl: 124.8rem;
$content-well-max-width: "none" !default; // Set the max-width of the content well
