$button-border-width: 2px; 
$button-padding: 1.4rem; 
$button-font-size: 1.4rem; 

$button-padding-xs: .8rem; 
$button-font-size-xs: 1rem; 

$button-padding-sm: 1rem; 
$button-font-size-sm: 1.2rem; 

$button-padding-md: 1.4rem; 
$button-font-size-md: 1.4rem; 

$button-padding-lg: 1.6rem; 
$button-font-size-lg: 1.6rem; 

$button-padding-xl: 1.8rem; 
$button-font-size-xl: 1.8rem; 